{% extends 'base.html.twig' %}

{% block title %}Edit Pop{% endblock %}

{% block body %}
    <h1>Edit Pop</h1>

    {{ include('admin/pop/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pop_index') }}">back to list</a>

    {{ include('admin/pop/_delete_form.html.twig') }}
{% endblock %}
