###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=changeme_in_production
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Pour Docker (PostgreSQL)
POSTGRES_VERSION=15
POSTGRES_DB=popentin
POSTGRES_USER=popentin
POSTGRES_PASSWORD=changeme_in_production
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?serverVersion=15&charset=utf8"

# Pour MySQL (si nécessaire)
# DATABASE_URL="mysql://user:password@127.0.0.1:3306/database?serverVersion=8.0.32&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

