{% extends 'base.html.twig' %}

{% block title %}New Pop{% endblock %}

{% block body %}
    <h1>Create new Pop</h1>

    {{ include('pop/_form.html.twig') }}

    <a href="{{ path('app_pop_index') }}">back to list</a>
{% endblock %}
