{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <p>admin</p>
    <a href="{{ path('app_pop_index') }}" >POP</a>
    <a href="{{ path('app_serie_index') }}" >Serie</a>
{% endblock %}
